{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shorten! from aviiciii</title>
        <link rel="stylesheet" href="{% static 'transfer/styles.css' %}" />
        <link rel="icon" href="{% static 'transfer/favicon.png' %}" />
    </head>

	<body>

        <!-- form -->
		<div class="login-box">
			<form id="transfer_form" method="post" action="{% url 'transfer' %}">
                {% csrf_token %}
                <!-- long url -->
				<div class="user-box">
					<input type="text" name="text" value id="linkinput" required="" />
					<label>Url</label>
				</div>

                <!-- button -->
				<a id="myinput" value="Shorten">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					Shorten
				</a>
			</form>

            <br>

            <!-- shortened url box -->
            <div class="msg row">
                <div class="column left">
                    <p id="message">we.laavesh.ml </p>
                </div>
                <div class="column right">
                    <button name="copy" id="copy"><img  src="{% static 'transfer/copy.png' %}" width="30px" alt="copy"  /></button>
                </div>
            </div>
		</div>

        <!-- link script -->
        <script src="{% static 'transfer/script.js' %}"></script>

	</body>
</html>
